.form-dga {
    width: 100%;
    padding: 60px 50px;
}

.form-dga h1 {
    font-size: 30px;
    font-family: var(--ff-bold);
}

.form-dga p {
    margin-bottom: 20px;
}

.form-dga form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-dga .form-column {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.form-dga .form-row {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.form-dga .form-row.row-center {
    width: 50%;
    justify-content: flex-start;
}

.form-dga form .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-dga .input-group input {
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 1px 1px #0004;
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid #0009;
}

.form-dga .input-group input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.form-dga .input-group label {
    font-size: 18px;
    top: 20px;
    left: 15px;
    z-index: 1500;
    position: absolute;
    transition: 0.2s;
    background: #fff;
    padding: 0 10px;
}

.form-dga .input-group.textarea {
    width: 100%;
}

.form-dga .input-group textarea {
    width: 100% !important;
    padding: 10px;
    margin-top: 10px;
    resize: none;
    box-shadow: 0 1px 2px #0002;
    border-radius: 4px;
    font-size: 18px;
    border: 2px solid #0009;
}

.form-dga input[type="submit"],
.form-dga input[type="reset"] {
    width: 50%;
    padding: 20px 0;
    background: var(--color-1);
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}

.form-dga .input-group input:focus + label,
.form-dga .input-group textarea:focus + label {
    top: -5px;
    background: #fff;
    padding: 0 10px;
    font-size: 16px;
}

.form-dga .input-group input:not(:placeholder-shown) + label,
.form-dga .input-group textarea:not(:placeholder-shown) + label {
    top: -5px;
    background: #fff;
    padding: 0 10px;
    font-size: 16px;
}


.form-dga .contact-img {
    width: 100% !important;
}

.form-dga .contact-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}